/node_modules
/dist
/out
.DS_Store
*.log*
.vscode
.idea
.arts
.ai
.codegraph
.codeartsdoer
.npm-cache
.codemate
/resources/mermaid/node_modules/
/resources/katex/node_modules/
/src/renderer/src/lib/katex/node_modules
/src/renderer/src/lib/mermaid/node_modules
