electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=http://registry.npmmirror.com/
@ohos:registry=https://repo.harmonyos.com/npm/
NODE_TLS_REJECT_UNAUTHORIZED=0
always-auth=false
strict-ssl=false
audit=false
