registry=http://mirrors.tools.huawei.com/npm/
@ohos:registry=https://repo.harmonyos.com/npm/
NODE_TLS_REJECT_UNAUTHORIZED=0
always-auth=false
strict-ssl=false
audit=false
python_mirror=http://mirrors.tools.huawei.com/python
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
disturl=http://mirrors.tools.huawei.com/nodejs
sass_binary_site=http://mirrors.tools.huawei.com/node-sass
phantomjs_cdnurl=http://mirrors.tools.huawei.com/phantomjs
chromedriver_cdnurl=http://mirrors.tools.huawei.com/chromedriver
operadriver_cdnurl=http://mirrors.tools.huawei.com/operadriver
audit=false
