registry=https://registry.npmmirror.com
@ohos:registry=https://repo.harmonyos.com/npm/
always-auth=false
audit=false
python_mirror=https://mirrors.tools.huawei.com/python
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
disturl=https://mirrors.tools.huawei.com/nodejs
sass_binary_site=https://mirrors.tools.huawei.com/node-sass
phantomjs_cdnurl=https://mirrors.tools.huawei.com/phantomjs
chromedriver_cdnurl=https://mirrors.tools.huawei.com/chromedriver
operadriver_cdnurl=https://mirrors.tools.huawei.com/operadriver
